@model List<Message>;
@{
    ViewData["Title"] = $"Hello user {ViewData["Hello"]}";
}
<a class="btn btn-lg" asp-action="Exit">Exit</a>
<h1 class="text-center">@ViewData["Title"]</h1>
<div class="center">
    <div class=".chat-panel">
        @foreach(var item in @Model)
        {
            <p>@item.UserId --> @item.Text : <i>@item.DateCreate</i></p>
        }
    </div>
    <form method="post">
        <input class="col-form-label col-form-label-lg mt-4" type="text" name="userText"/>
        <span>@ViewBag.Empty</span>
        <button type="submit" class="btn btn-success btn-lg">Send --></button>
    </form>   
</div>

<style> 
    .chat-panel {
        height: 300px;
        overflow-y: scroll;
        border: 1px solid black;
        padding: 10px;
    }
    span{
        color: red;
    }
    .text-center{
        text-align: center;
    }
    .center{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
    }
</style>